:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 48px;
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 32px;
}

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    border-radius: 50%;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 32px);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.meno {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.follow {
    font-size: 15px;
    line-height: 1.8;
    border: none;
    background: #0095f6;
    color: white;
    border-radius: 4px;
    padding: 0 30px;
    margin-left: 35px;
    cursor: help;
    font-weight: 600;
    
}


.profile-stats {
    margin-top: 5px;
    margin-left: -40px;
}

.profile-stats li {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 20px;
    cursor: pointer;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

a {
    color: white;
    text-decoration: none;
    cursor: help;
}

.pocet, .cele_meno {
    font-weight: 600;
}
.mesto {

}
.galery_foto {
    padding: 25px;

}
.koment {
    margin-left: 400px;
    margin-top: -250px;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}
.praca, .vucke, .mc, .engage, .ness, .zaluby, .hana{
    margin-top: 200px;
}