body {
    background-color: rgb(165, 233, 224);
    margin: 50px auto;
    width: 700px;
}

h1 {
    padding-left: 10%;
}

input {
    height: 40px;
    width: 700px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    border-radius: 12.5px;
    box-shadow: 2px 2px 10px gray;
    padding: 5px 0px 5px 20px;
}

.task {
    padding: 8px 10px;
    margin-top: 15px;
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 7px;
    box-shadow: 2px 2px 10px gray;
}

.buttonStyle {
    color: red;
    background-color: white;
    margin-left: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.delete {
    display: none;
}