body{
    background-color: rgb(177 177 177 / 57%);
}
h1 {
    background: #1559be;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    /* text-transform: uppercase; */
    text-transform: inherit;
    font-size: 20px;
    font-weight: normal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  form {
    margin-left: 15px;
}

input {
    /* padding-left: 20px; */
    /* width=90px; */
    width: 50px;
    /* padding-right: 20px; */
    margin-right: 20px;
    /* font-size: 20px; */
    

}

label span
{
    display: inline-block;
    text-align: left;
    /* ODSADENIE OD KRAJA  */
    width: 250px;
    margin-top: 10px;
    /* background-color:aqua; */
   
}



.service {
    /* padding: 13px 13px 20px 20px; */
    /* width: 250px; */
    display: inline-block;
    margin-top: 10px;
    text-align: left;
    /* font-size: 20px; */
  }

.karta {
    height: 250px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    /* -webkit-border-radius: 20px; */
    /* -moz-border-radius: 20px; */
  }

  button:hover {
    background: #121fd6;

    border-bottom-color: rgb(240, 222, 222);
  }
  
  button:active {
    position: relative;
    top: 2px;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #c58816;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-size: 17px;
    color: white;
  }