#openCalcButton {
	position: fixed;
	top: 10px;
	right: 10px;
	color: white;
	font-weight: 500;
	text-decoration: none;
	padding: 0.7rem;
	background-color: #ff9671;
	border-radius: 13px;
	opacity: 0.7;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

#openCalcButton:hover {
	opacity: 1;
}

.calc-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calc-modal-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.calc-modal-container {
	background-color: white;
	position: relative;
	padding: 2rem;
	border-radius: 15px;
}

.calc-modal-open {
	visibility: visible;
	opacity: 1;
}

.calc-input {
	display: flex;
	flex-flow: column;
	margin: 1rem 0;
}

.calc-input input,
.calc-input select {
	padding: 0.4rem;
	border-radius: 15px;
	border: 1px solid #555;
}

#calcForm button {
	margin: 0 auto;
	display: block;
	padding: 0.8rem;
	border-radius: 15px;
	background-color: #d65db1;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#calcForm button:hover {
	background-color: #fc6dd0;
}

.total-price {
	margin-bottom: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
	#openCalcButton {
		top: auto;
		bottom: 10px;
	}

	.calc-modal-container {
		width: 95%;
		padding: 1rem;
	}
}
