* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	background-color: #845ec2;
	display: flex;
	justify-content: center;
}

button {
	border: none;
}

button:focus,
input:focus,
select:focus {
	outline: none;
}

.wrapper {
	width: 500px;
}

/* HEADER */

header h1 {
	text-align: center;
	color: white;
	font-size: 4rem;
}

header div {
	position: relative;
}

header input {
	width: 100%;
	border-radius: 20px;
	padding: 0.8rem;
	font-size: 1rem;
	border: none;
}

#addButton {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	cursor: pointer;
	padding: 0.22rem 0.9rem;
	opacity: 0.5;
	font-size: 2rem;
	transition: all 0.2s ease-in-out;
	color: #ff6f91;
}

#addButton:hover {
	opacity: 1;
}

header input,
#addButton {
	font-weight: 500;
}

/* TODO BODY */

#todos {
	padding: 0;
	margin: 3rem 0;
	list-style: none;
}

#todos li {
	margin: 0.4rem 0;
	background-color: #ff6f91;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	color: white;
}

#todos li:hover {
	transform: scale(1.02);
}

.delItem {
	color: white;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.2s ease-in-out;
	font-size: 0.7rem;
	border-radius: 50%;
	background-color: transparent;
}

.delItem:hover {
	opacity: 1;
}

.done {
	background-color: #ff9671 !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
	.wrapper {
		width: 90%;
	}
}

@media screen and (max-width: 450px) {
	header h1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 300px) {
	header input {
		padding: 0.6rem;
	}

	#addButton {
		padding: 0.28rem 0.9rem;
		font-size: 1.6rem;
	}
}
