body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.background-color-blue {
    background-color: #00539C;
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

nav a:hover {
    color: #000;
    background-color: #fff
}

@media screen and (max-width: 600px) {
    nav,
    nav a {
        float: none;
    }
}

.icon {
    height: 1em;
}

div.links a {
    color: #00539C;
    text-decoration: none;
}

div.links a:hover {
    color: black;
}

.hobby-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.hobby-item {
    width: 33%;
    margin-bottom: 8px;
    padding: 0 8px;
    flex: 1;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

img.hobby-media {
    display: block;
    width: 100%;
    align-self: center;
}

iframe.hobby-media {
    display: block;
    width: 100%;
    height: 93%;
    align-self: center;
}

@media screen and (max-width: 700px) {
    .hobby-container {
        display: block;
        width: 100%;
    }
    .hobby-item {
        display: block;
        width: 90%;
    }
    iframe.hobby-media {
        height: 300px;
    }
}

#hobby {
    padding-bottom: 2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4px 8px;
    color: white;
}

footer a {
    color: turquoise;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

section {
    margin: 0em 3em;
}

th {
    vertical-align: top;
    text-align: left;
    padding-right: 0.5em;
    min-width: 100px;
}

td>div:first-child {
    font-weight: bold;
}

td>div:nth-child(2) {
    font-style: italic;
}

td>ul:nth-child(3) {
    margin-top: 0;
}

.table-head {
    font-size: 1.2em;
}