body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #00539C;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    color: #000;
    background-color: #fff
}

@media screen and (max-width: 600px) {
    nav,
    nav a {
        float: none;
    }
}

.icon {
    height: 1em;
}

h1 {
    size: 4px;
}