body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #00539C;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

nav a:hover {
    color: #000;
    background-color: #fff
}

@media screen and (max-width: 600px) {
    nav,
    nav a {
        float: none;
    }
}

.icon {
    height: 1em;
}

.hobby-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.hobby-column {
    width: 33%;
    margin-bottom: 8px;
    padding: 0 8px;
    flex: 1;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

img.hobby-media {
    display: block;
    width: 100%;
    align-self: center;
}

iframe.hobby-media {
    display: block;
    width: 100%;
    height: 93%;
    align-self: center;
}

@media screen and (max-width: 700px) {
    .hobby-row {
        display: block;
        width: 100%;
    }
    .hobby-column {
        display: block;
        width: 90%;
    }
    iframe.hobby-media {
        height: 300px;
    }
}

h1 {
    size: 4px;
}