*{
    margin: 0;
    padding: 0;
}
form {
    margin-left: 15px;
}
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(36, 130, 197);
    margin: 0;
    /* margin-left: 15px; */
    padding: 0;
    
}
header li {
    padding-left: 25px;
    list-style: none;
    display: inline-block;
    line-height: 100px;
}



ul li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: rgb(220, 233, 220);
    padding: 0 0px;
    background-color: rgb(36, 130, 197);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 2pt rgb(200, 192, 192);
    align-items:center;
  justify-content: center;
    
    
}
a:hover {
    color: rgba(240, 235, 235, 0.966);
    background-color: #00e7ff61;
  }

.paragrafs p {
    padding-top: 10px;
    padding-left: 20px;
    text-indent: 30px;

}

body{
    background-color: rgb(177 177 177 / 57%);
}

.hlavnyNadpis{
    padding-left: 20px;
}

table{
    width: 400px;
    margin-left: 20px;
    

}

table,th,td {
    border: 1px solid;
   border-collapse: collapse;
   padding-left: 20px;
    
    
}
hr {

    border: 1px solid rgb(179, 188, 218);
    border-radius: 5px;
}
th, caption {
    text-align: left;
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: white;
}
tr:nth-child(odd) {
    background-color:wheat;
}



