/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
* {

    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Nunito', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecedf0;
    max-width: 900px;
    margin: auto;
}

header{
    padding-top: 30px;
    width: 800px;
    height: auto;
    font-size: 35px;
    color: #555555;
}

main{
    width: 250px;
    height: 100%; 
    
}

article{
    width: 550px;
    height: 100%;
    padding-bottom: 30px;
}

.content{
    display: flex;
}

.menu{
    display: flex;
}

.dataExperience{
    display: flex;
}

.menu img{
    width: 130px;
    height: 130px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu p{
    padding-left: 100px;
    padding-top: 50px;
}

.content p{
    padding-left: 50px;
}

article .normalFont{
    padding-right: 30px;
}



.normalFont{
    font-weight: 200;
    color: #555555;
}

.mediumFont{
    font-weight: 400;
    margin-bottom: 5px;
    color: #555555;
}

.boldFont{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #866539;
    
}

@media screen and (max-width: 800px) {
    header img{
        padding-bottom: 20px;
    }
   
}
/* For mobile phones: */
@media only screen and (max-width: 568px) {

    body{
        padding-bottom: 50px;
    }

    header{
        width: 100%;
    }

    main{
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    article{
        width: 100%;
    }

    .menu{
        width: 100%;
        display: block;
    }

    .content{
        display: flex;
        flex-direction: column-reverse;
    }

    .menu img{
        padding: 0 0 0 0px;
        margin-left: 35%;
        margin-right: 35%;
        margin-bottom: 30px;
    }

    .menu p{
        text-align: center;
        padding: 0 0 0 0px;
    }
   
  }

  

