html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    background-color: darkcyan;
}

header {
    padding: 0 2rem;
}

#info {
    color: yellow;
    font-weight: 500;
}

#complete {
    color: lightgreen;
    font-weight: 500;
}

#remove {
    color: darkslategrey;
    font-weight: 500;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
}

ul {
    padding: 0 3rem;
    text-align: left;
}

li {
    display: flex;
    background-color: skyblue;
    margin: 0.5rem 0;
    border: 1px solid black;
    border-radius: 5px;
}

li>p:first-child {
    flex: 1 1 200px;
    margin: 0.5rem 2rem;
    color: white;
    font-weight: 500;
}

.remove {
    margin: 0.3rem 2rem;
    font-weight: 900;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 5px;
}

.remove:hover {
    background-color: red;
}

#newTODO {
    padding: 0 3rem;
    display: flex;
}

#newItem {
    flex: 1 1 200px;
    margin-right: 0.5rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
}

#addButton {
    color: darkcyan;
    background-color: darkslategrey;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 5px;
}