@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;700&display=swap');

/* main css on document */
*{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 234, 236);
    font-family: 'Raleway', sans-serif;
}

/* edit header where is H1 text and p text */
header{
    width: 700px;
    height: 100%;
    margin: 40px auto;
    text-align: center;
}

header h1{
    padding: 40px 30px 40px 30px;
    font-weight: 500;
}

header p{
    padding: 0px 50px 10px 50px;
    font-weight: 200;
}

/* edit main where is form input, select and text in this labels*/
main{
    width: 700px;
    height: 100%;
    margin: 20px auto;  
}

form{
    /* border: 5px solid rgb(167, 228, 0); */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.box input{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(146, 144, 143);
    background-color: white;
    margin-top: 10px;
}

.box select{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgb(146, 144, 143);
    background-color: white;
}


input[type=text] {
    text-align: center ;
}


.box p{
    font-weight: 200;
}

/* send button */
button{
    width: 100%;
    height: 50px;
    background-color: rgb(27, 128, 2);
    border: 1px solid rgb(27, 128, 2);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    color: white;
}

/* tablet and mobile device */
@media only screen and (max-width: 799px) {

    header{
        width: 100%;
    }

    main{
        width: 100%;
        margin: 0 auto;
        width: 90%;
    }

    form{
        display: block;
    }
}
