*{
    margin: 0;
    padding: 0;
}
form {
    margin-left: 15px;
}
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(36, 130, 197);
    margin: 0;
    /* margin-left: 15px; */
    padding: 0;
    
}
header li {
    padding-left: 25px;
    list-style: none;
    display: inline-block;
    line-height: 100px;
}



ul li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(220, 233, 220);
    padding: 0 0px;
    background-color: rgb(36, 130, 197);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    /* -moz-background-origin: border-box; */
    /* background-origin: border-box; */
    /* outline: 1px solid yellow; */
    /* -moz-outline-radius: 10px; */
    box-shadow: 0 0 0 2pt rgb(200, 192, 192);
    /* outline-color: tomato; */
    

    align-items:center;
  justify-content: center;
    
    
}
a:hover {
    color: rgba(240, 235, 235, 0.966);
    background-color: #00e7ff61;
  }



body{
    background-color: rgb(177 177 177 / 57%);
}

.formular label
{
    /* color: aquamarine; */
    display: block;
    /* margin-left: 200; */
}

label span
{
    display: inline-block;
    text-align: left;
    /* ODSADENIE OD KRAJA  */
    width: 70px;
    margin-top: 10px;
}

.selectStatus {
    margin-top: 10px;
    /* margin-left: 35px; */


}
#vztah {
    /* background-color: brown; */
    margin-left: 45px;
}
.tabulka {
    margin-top: 10px;
    padding-left: 10px;
    
    
}
/* CLASS je BODKA */
.tabulka textarea{
    resize: none;
    
   
}




button[type="button"]{
    padding-left: 10px;
    padding-right: 10px;
    
}
