*{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(251, 251, 251);
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(172, 171, 161);
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
     /* margin-left: 50px;
    padding-top: 25px;  */
    /* background-color:darkgray */ 

}

ul li a {
    text-decoration: none;
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: darkgreen;
    padding: 0 30px;
}

h3 {
    padding: 20px;
}

p {
    padding: 20px;
}