* {
    margin: 0;
    padding: 0;
}



nav {
    width: 100%;
    height: 100px;
    background-color: rgb(36, 130, 197);
    margin: 0;
    padding: 0;
    
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
     /* margin-left: 50px;
    padding-top: 25px;  */
    /* background-color:darkgray */ 

}
#teloStranky {
    padding: 25px 50px 75px;
  }
h1 {
    margin: 20;
    padding: 22;
}

#teloStranky {
    margin: 20;
    padding: 20;
}
body{
    background-color: rgb(177 177 177 / 57%);
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(220, 233, 220);
    padding: 0 0px;
    background-color: rgb(36, 130, 197);
    margin-left: 30px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    align-items:center;
    /* justify-content: center; */
}
a:hover {
    color: rgba(240, 235, 235, 0.966);
    background-color: #00e7ff61;
  }

h1 {
    margin:20px;
}

p {
    padding: 20px;
    margin: 00;
   
    
}