* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #4ac6c6;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 768px;
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-row {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.note-shadow {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
}

.note-shadow:nth-child(1) {
  z-index: 5;
}
.note-shadow:nth-child(2) {
  z-index: 4;
}
.note-shadow:nth-child(3) {
  z-index: 3;
}
.note-shadow:nth-child(4) {
  z-index: 2;
}

/* HEADER */

header {
  background-color: #2f3a40;
  color: rgb(240, 238, 238);
  display: flex;
  height: 200px;
}

header > div:first-child {
  flex-basis: 40%;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
}

header > div:last-child {
  flex-basis: 60%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-weight: 200;
}

/* MAIN ASIDE */

main {
  display: flex;
  color: white;
}

aside {
  flex-basis: 35%;
}

aside p,
aside a {
  font-size: 0.8rem;
  display: inline;
}

aside a {
  text-decoration: none;
  color: white;
}

.icon {
  width: 28px;
  display: flex;
  justify-content: center;
}

article {
  flex-basis: 65%;
}

.contact {
  background-color: #ff5757;
  padding: 1rem;
}

.contact > div > div {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}

.languages {
  background-color: #b8c735;
  padding: 1rem;
}

.outer-bar {
  width: 100%;
  height: 5px;
}

.inner-bar {
  height: 100%;
  background-color: white;
}

.skills {
  background-color: #5899b7;
  padding: 1rem;
}

.hobbies {
  background-color: #ff8b36;
  padding: 1rem;
}

.hobbies i {
  font-size: 2rem;
}

.hobbies > div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* MAIN ARTICLE */

main article {
  padding: 2rem;
  color: #555;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.delimiter {
  height: 1px;
  background-color: #555;
}

main article h3 {
  font-size: 1rem;
  color: #7a849d;
}

main article span {
  color: #555;
  width: 100px;
  display: inline-block;
  font-size: 1.1rem;
}

.personal > div,
.education > div,
.work > div,
.personal p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
    margin: 5% 0;
  }

  main article span {
    display: block;
    font-size: 1rem;
  }

  main article h3 {
    font-size: 0.9rem;
  }

  main article h2 {
    font-size: 1.3rem;
  }

  .personal > div,
  .education > div,
  .work > div,
  .personal p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
}

@media (max-width: 630px) {
  header {
    height: 150px;
  }

  header > div:first-child {
    flex-basis: 30%;
  }

  header > div:last-child {
    flex-basis: 70%;
  }

  main {
    flex-flow: column;
  }

  aside {
    display: flex;
    flex-wrap: wrap;
  }

  aside > div {
    flex-basis: 50%;
  }

  .hobbies > div {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90%;
    margin: 0;
  }

  .hobbies > div > div {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hobbies i {
    font-size: 2.5rem;
  }

  aside h2 {
    text-align: center;
  }

  main article {
    min-height: 650px;
  }
}

@media (max-width: 545px) {
  header img {
    width: 75px;
    height: 75px;
  }

  h1 {
    font-size: 1.5rem;
  }

  aside {
    flex-wrap: nowrap;
    flex-flow: column;
  }

  .hobbies > div {
    height: auto;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 1rem;
  }

  .hobbies > div > div {
    display: block;
    flex-basis: auto;
  }
}

@media (max-width: 415px) {
  header {
    padding: 1rem;
    flex-flow: column;
    height: 200px;
    justify-content: space-evenly;
  }

  header > div:first-child {
    flex-basis: auto;
  }

  header > div:last-child {
    text-align: center;
    flex-basis: auto;
  }

  main article {
    padding: 1rem;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: 1.1rem;
  }

  header p {
    font-size: 0.8rem;
  }

  main article {
    justify-content: space-evenly;
    min-height: 650px;
  }

  main article h3 {
    font-size: 0.8rem;
  }

  main article h2 {
    font-size: 1.1rem;
  }

  main article span {
    font-size: 0.8rem;
  }

  .personal > div,
  .education > div,
  .work > div,
  .personal p {
    font-size: 0.8rem;
  }

  .hobbies i {
    font-size: 1.7rem;
  }
}

/* ANIMATIONS */

aside > div:hover {
  transform: scale(1.05);
}

aside > div {
  transition: all 0.2s ease-in-out;
}
