body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

header,
main,
footer {
    margin: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

header {
    display: flex;
    padding-bottom: 60px;
}

.headerInfo {
    max-width: 360px;
    padding-right: 60px;
}

.headerSelfie {
    padding: 20px 10px 0px 10px;
    width: 200px;
    height: 200px;
}

.selfie {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

thead p {
    color: #051937;
    font-size: 40px;
    font-weight: bolder;
}

main h1 {
    color: slategray;
    margin-top: 50px;
    margin-bottom: 5px;
}

main p,
main h3 {
    margin: 0px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.wrap {
    display: flex
}

.wrapLeft {
    margin: auto 5px;
}

.wrapCenter {
    margin: auto 5px;
    padding-left: 20px;
}

.wratRight {
    margin: auto 5px;
}

section:last-of-type .wrapCenter {
    width: 150px;
}

.starGray {
    height: 25px;
    width: 25px;
    fill: gray;
}

.starGold {
    width: 25px;
    height: 25px;
    fill: gold;
}