body {
    margin: 0px;
    padding: 0px;
}

header,
main,
footer {
    margin: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

header {
    display: flex;
}

.headerInfo {
    padding-right: 15px;
}

.headerSelfie {
    display: flex;
    width: 70%;
    padding-top: 60px;
    /*
        border: 1px solid red
    */
}

.selfie {
    padding: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

thead p {
    color: cornflowerblue;
    font-size: 40px;
    font-weight: bolder;
}

main h1 {
    color: slategray;
    margin-top: 50px;
    margin-bottom: 5px;
}

main p,
main h3 {
    margin: 5px 0 0 20px;
}

main h3 {
    margin-top: 15px;
}