.activeSelfie:nth-of-type(1) {
    position: relative;
    animation: activeSelfie 3s 0s;
}

.activeSelfie:nth-of-type(2) {
    position: relative;
    animation: activeSelfie 3s 2s, maskSelfie 2s;
}

.activeSelfie:nth-of-type(3) {
    position: relative;
    animation: activeSelfie 3s 4s, maskSelfie 4s;
}

@keyframes activeSelfie {
    from {
        left: 80%;
        top: 0;
        opacity: 0;
        transform: rotate(0deg)
    }
    to {
        left: 0%;
        top: 0;
        opacity: 1;
        transform: rotate(-360deg)
    }
}

@keyframes maskSelfie {
    from {
        opacity: 0
    }
    to {
        opacity: 0
    }
}