body {
    margin: 0px;
    padding: 0px ;
    
}

header,
main,
footer {
     margin: 50px;
     padding: 20px;
     background-color: #f9f9f9;
     border-radius: 10px;
}

header{
    display: flex;
}
.headerInfo,
.headerSelfie {
    padding-right: 15px;
}

.headerSelfie {
    margin: 0px auto;
    padding-top: 20px;
}

.Selfie{
    margin:0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}