.activeSelfie:nth-of-type(1) {
    position: absolute;
    visibility: hidden;
    animation: activeSelfie 8s infinite;
}

.activeSelfie:nth-of-type(2) {
    position: absolute;
    visibility: hidden;
    ;
    animation: activeSelfie 8s 2s infinite;
}

.activeSelfie:nth-of-type(3) {
    position: absolute;
    visibility: hidden;
    animation: activeSelfie 8s 4s infinite;
}

.activeSelfie:nth-of-type(4) {
    position: absolute;
    visibility: hidden;
    animation: activeSelfie 8s 6s infinite;
}

@keyframes activeSelfie {
    0% {
        visibility: visible
    }
    25% {
        visibility: hidden
    }
    100% {
        visibility: hidden
    }
}