@media screen and (max-width: 800px) {
    header {
        display: block;
        padding-bottom: 20px;
    }
    .headerSelfie {
        margin: 0 auto;
    }
    .wratRight {
        display: none;
    }
}